* {
    padding: 0;
    margin: 0;
}

/* 
-----------------------------

CLASES PARA LA PÁGINA "index"

*/

.containerIndex {
    /* Defino la estructura grid que tendrá la página.  */
    display: grid;
    grid-template-columns: 0.7fr 1.6fr 0.7fr;
    grid-template-rows: 0.8fr 2.8fr 0.4fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
        "headerIndex headerIndex headerIndex"
        "asideIndex1 logoIndex asideIndex2"
        "footer footer footer";
    /* Para asegurarme que la página se extienda sobre toda la pantalla. */
    min-height: 100vh;
    /* Estilo de letra de todo el documento  */
    font-family: 'Yanone Kaffeesatz', sans-serif;
    /* Defino el fondo de la página.  */
    background: radial-gradient(circle, rgba(0, 0, 0, 0.9509803921568627) 17%, rgb(14, 30, 61) 60%, rgb(29, 52, 104, 0.5) 80%, rgba(100, 0, 0, 0.7));
    background-color: #7e0707;
}

/* DEFINO LO QUE ESTÁ DENTRO DE LA ETIQUETA "header" */

.headerIndex {
    grid-area: headerIndex;
    display: flex;
    /* Flex para poder alinear a mi gusto h1 y nav */
    flex-direction: column;
    /* Centro horizontalmente el nav y h1  */
    align-items: center;
    /* Genero el espacio vertical entre h1, nav y los bordes de su padre header*/
    justify-content: flex-start;
    margin-top: 1rem;
}

.headerIndex ul {
    display: flex;
    /* Flex para poder alinear a mi gusto los list items */
    flex-direction: row;
    list-style: none;
    /* Elimino los símbolos a la izquierda de cada inciso de la lista. */
    width: auto;
    height: 1.8rem;
    /* Para que el texto esté solo en una fila (tuve en cuenta el font-size: 1.5 rem */
    flex-wrap: wrap;
    /* Al angostarse la pantalla, la barra de nav no se cortará y sus list items se apilarán  */
    justify-content: center;
}

.itemDelNavSeleccionado {
    color: #1D3468;
    background-color: #fff67da4;
    font-size: 1.5rem;
    text-align: center;
    list-style: none;
    border-top: 2px solid #1D3468;
    border-bottom: 2px solid #1D3468;
    border-right: 1px solid #1D3468;
    border-left: 1px solid #1D3468;
    padding: 0rem 1rem;
}

.itemDelNavNoSeleccionado {
    color: #1D3468;
    background-color: #fff67d;
    font-size: 1.5rem;
    text-align: center;
    list-style: none;
    border-top: 2px solid #1D3468;
    border-bottom: 2px solid #1D3468;
    border-right: 1px solid #1D3468;
    border-left: 1px solid #1D3468;
    padding: 0rem 1rem;
}

/* Efectos de alteración de los botones del nav cuando lo tocamos */

.itemDelNavNoSeleccionado:hover {
    background-color: #ffef12;
    font-weight: bold;
    transform: scale(1.1);
    /* Lo agrando */
    transition: .3s;
    /* Le dá un pequeño tiempo de cambio */
}

.itemDelNavSeleccionado:hover {
    background-color: #ffef12;
    font-weight: bold;
    transform: scale(1.1);
    /* Lo agrando */
    transition: .3s;
    /* Le dá un pequeño tiempo de cambio */
}

/* Le saco el subrayado al hipervínculo  */

a {
    text-decoration: none;
}

/* Evita que los enlaces ya visitados cambien de color  */

a:visited {
    color: #1D3468;
}

.headerIndex h1 {
    font-family: 'Clicker Script', cursive;
    color: white;
    font-size: 3rem;
    margin-top: 1rem;
}

/* DEFINO LO QUE ESTÁ DENTRO DE LA ETIQUETA "aside" DE LA IZQ */

.asideIndex1 {
    grid-area: asideIndex1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.asideIndex1 p {
    color: white;
    text-align: center;
    font-size: 1rem;
    margin: 1rem;
    font-family: 'Clicker Script', cursive;

}

.asideIndex1 span {
    font-family: 'Yanone Kaffeesatz', sans-serif;
    color: #fff67d;
}


/* DEFINO LO QUE ESTÁ DENTRO DE LA ETIQUETA "aside" DE LA DERECHA */

.asideIndex2 {
    grid-area: asideIndex2;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.asideIndex2 p {
    color: white;
    text-align: center;
    font-size: 1rem;
    margin: 1rem;
    font-family: 'Clicker Script', cursive;

}

.asideIndex2 span {
    font-family: 'Yanone Kaffeesatz', sans-serif;
    color: #fff67d;
}


/* DEFINO LO QUE ESTÁ DENTRO DE LA ETIQUETA "footer" */

.footer {
    grid-area: footer;
    display: flex;
    /* Centro las etiquetas totalmente  */
    align-items: center;
    justify-content: center;
}

.footer i {
    color: #fff67d;
    margin: 1rem;
    /* para que no se solapen */
    transform: scale(2);
}

.footer i:hover {
    color: #ffef12;
    transform: scale(3);
    /* Lo agrando */
    transition: .3s;
    /* Le dá un pequeño tiempo de cambio */
}


/* DEFINO LO QUE ESTÁ DENTRO DE LA ETIQUETA "logoIndex" */

.logoIndex {
    grid-area: logoIndex;
}

.logoIndex img {
    /* Método para centrar la imagen en su contenedor */
    position: relative;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    width: 100%;
    /* La imagen ocupa todo el ancho de su contenedor logoIndex */
    height: auto;
    /* La imagen no se deformará, tomará la altura necesario para mantener la proporción con el ancho de la imagen*/
}

/* 
-----------------------------------

CLASES PARA EL RESTO DE LAS PÁGINAS

*/

.container {
    /* Defino la estructura grid que tendrán las páginas.  */
    display: grid; 
    grid-auto-columns: 1fr; 
    grid-template-columns: 1fr; 
    grid-template-rows: 0.8fr 2.8fr 0.4fr; 
    gap: 0px 0px; 
    grid-template-areas: 
    "header"
    "main"
    "footer";
    /* Para asegurarme que la página se extienda sobre toda la pantalla. */
    min-height: 100vh;
    /* Estilo de letra de todo el documento  */
    font-family: 'Yanone Kaffeesatz', sans-serif;
    /* Defino el fondo de la página.  */
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.9509803921568627) 17%, rgb(14, 30, 61) 60%, rgb(29, 52, 104, 0.5) 80%, rgba(100, 0, 0, 0.7));
    background-color: #7e0707;
}

.header {
    grid-area: header;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    margin-top: 1rem;
}

.header nav {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.header img {
    width: auto;
    height: 2rem;
}

.header ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    width: auto;
    height: 1.8rem;
}

.main {
    display: flex;
    flex-direction: column;
}

.main h1 {
    color: white;
    font-size: 3rem;
    font-family: 'Clicker Script', cursive;
    text-decoration: underline 0.1rem;
    text-align: center;
    margin-bottom: 2rem;
}

.contenidoMain {
    color: white;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.main section {
    display: flex;
    flex-direction: column;
    width: 30%;
    padding: 0.7rem;
    /* background-color: rgba(128, 128, 128, 0.126); */
    border-radius: 3%;
    background: rgb(255,251,0);
    background: linear-gradient(0deg, rgba(255, 251, 0, 0.096) 40%, rgba(0, 0, 0, 0.183) 100%);
    align-items: center;
}

.main ul,p {
    font-size: 1.5rem;
    text-align: justify;
    margin-top: 1rem ;
    margin-bottom: 1rem;
}

.main h2 {
    font-family: 'Clicker Script', cursive;
    text-decoration: underline 0.1rem;
    font-size: 2.5rem;
    text-align: center;
    color:#fff67d;
}

.main iframe{
    width: 80%;
}

.mainProductos {
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}

.mainProductos h1 {
    color: white;
    font-size: 3rem;
    font-family: 'Clicker Script', cursive;
    text-decoration: underline 0.1rem;
    text-align: center;
    margin-bottom: 2rem;
}
}

.mainProductos section {
    margin-bottom: 2rem;
    width: 80%;
    background: rgb(255,251,0);
    background: linear-gradient(0deg, rgba(255, 251, 0, 0.096) 40%, rgba(0, 0, 0, 0.183) 100%);
    border-radius: 3%;;
    display: flex;
    flex-direction: column;
}

.mainProductos h2{
    text-align: center;
    text-decoration: underline;
    color:#fff67d;
}

.mainProductos div{
    margin-top: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.mainProductos article {
    display: flex;
    flex-direction: column;
    width: 30%;
    padding: 1rem 0.5rem 1rem 0.5rem;
    border-color: rgba(128, 128, 128, 0);
    border: solid grey 1px;
    margin-bottom: 0.5rem;
}

.mainProductos img {
    padding: 0.5rem 0rem 0.5rem 0rem;
    width: 90%;
    height: auto;
    border-radius: 5%;
}

.mainProductos h3{
    color:#fff67d;
    font-family: 'Clicker Script', cursive;
    font-size: 1.5rem;
    text-align: center;
}

.mainProductos p {
    font-size: 1rem;
}

/* DISEÑO "RESPONSIVE" (mobile last)*/

@media (max-width: 768px) {

    /* 
    ----------------------------

    CLASES PARA LA PÁGINA "index"

    */

    /* Recordar elevar el eje del gradiente radial para que coincida con el logo */
    .containerIndex {
        display: grid;
        grid-template-columns: 0.7fr 0.7fr;
        grid-template-rows: 0.7fr 1.9fr 0.9fr 0.5fr;
        gap: 0px 0px;
        grid-auto-flow: row;
        grid-template-areas:
            "headerIndex headerIndex"
            "logoIndex logoIndex"
            "asideIndex1 asideIndex2"
            "footer footer";
    }

    .headerIndex {
        justify-content: space-between;
    }

    .headerIndex ul {
        height: 2.5rem;
    }

    .itemDelNavNoSeleccionadoIndex {
        font-size: 2.0rem;
    }

    .itemDelNavNoSeleccionadoIndex {
        font-size: 2.0rem;
    }

    .headerIndex h1 {
        font-size: 4.5rem;
        margin-top: 5rem;
    }

    .asideIndex1 {
        justify-content: flex-start;
    }

    .asideIndex1 p {
        font-size: 1.6rem;
    }

    .asideIndex2 {
        justify-content: flex-start;
    }

    .asideIndex2 p {
        font-size: 1.6rem;
    }


    /* 
    -----------------------------------

    CLASES PARA EL RESTO DE LAS PÁGINAS

    */

    .main{
        flex-direction: column;
    }

    .main section {
        width: 95%;
    }
 

    .mainProductos section{
        width: 95%;

    }

    .mainProductos div{
        flex-direction: column;
        
    }

    .mainProductos article {
        width: 90%;
        align-items: center;
    }


}