* {
    padding: 0;
    margin: 0;
}

@import './variables/letras.scss';
@import './variables/colores.scss';
@import './secciones/index';
@import './secciones/noIndex';
@import './secciones/compartidos';
