%dflex-row {
    display: flex;
    flex-direction: row;
    }
    
%dflex-col {
    display: flex;
    flex-direction: column;
}

%centrado1SoloItem {
    position: relative;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%) !important;
    width: 100%;
    height: auto;
}
