.fondoOtrasPaginas {
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.9509803921568627) 17%, rgb(14, 30, 61) 60%, rgba(29, 52, 104, 0.5) 80%, rgba(100, 0, 0, 0.7));
    background-color: $rojoBase;
}

.contenedorDentroDeMain-row {
    @extend %dflex-row;
    justify-content: space-evenly;

    section {
        @extend %dflex-col;
        width: 25vw;
        margin: 1rem;
        background-color: $fondoSection;
        border-radius: 2%;

        &:hover {
            transform: scale(1.2);
            transition: all 1s;
            filter: saturate(1000%);
        }

        h2 {
            font-family: $letraCarta;
            text-decoration: underline 0.1rem;
            font-size: 2.5rem;
            text-align: center;
            color: $amarillo;
            margin: 1rem 1rem 0rem 1rem;
        }

        ul {
            font-size: 1.3rem;
            text-align: justify;
            margin: 1rem;
        }

        p {
            font-size: 1.3rem;
            text-align: justify;
            margin: 1rem;
        }

    }
}

.contenedorDentroDeMainCol {
    @extend %dflex-col;
    align-items: center;

    section {
        @extend %dflex-row;
        width: 50vw;
        height: auto;
        margin: 1rem;
        background-color: $fondoSection;
        border-radius: 2%;

        form {
            padding: 1rem;
            width: 75%;
            @extend %dflex-col;
            align-items: center;

            .boton {
                @include boton ($amarillo);          
            }

            input,
            textarea {
                width: 100%;
                border: none;
                border-radius: 2px;
                margin-top: 1rem;
                padding: 0.5rem;
                text-align: left;
                opacity: 70%;
                color: grey;
                
                &::placeholder {
                    color:black;
                    font-size: 1.1rem;
                    overflow: hidden;
                }

                &:hover {
                    border: solid white 0.5px;
                    background-color: black;
                    &::placeholder {
                        color: $amarillo;
                    }
                    transition: 0.3s;
                }
            }

        }

        .Mapa {
            width: 75%;

            iframe {
                width: 100%;
                height: 30vh;
                border-top-right-radius: 0%;
                border-top-left-radius: 2%;
                border-bottom-right-radius: 0%;
                border-bottom-left-radius: 2%;
            }
        }

        .DiasHorarios {
            width: 75%;
            @extend %dflex-col;
            align-items: center;
            justify-content: space-between;

            ul {
                list-style-type: none;
                color: white;
                font-family: $letraMolde;
                font-size: 1rem;
                padding: 0;
                margin: 0;

            }

            h2 {
                margin: 0.2rem;
                color: $amarillo;
                font-family: $letraCarta;
                text-decoration: underline $amarillo 0.1rem;
                font-size: 1.5rem;
            }
        }

        .simbolosUbYHora {
            width: 25%;
            @extend %dflex-col;
            border-left: $amarillo 0.1rem solid;
            justify-content: center;

            i {
                transform: scale(3);
                color: $amarillo;
            }
        }

        &:hover {
            transform: scale(1.1);
            transition: all 1s;
        }
    }
}


.productos {
    height: 70vh;
    overflow-y: scroll;
    overflow-x: hidden;
    margin-top: 0;

    section {
        padding: 0.2rem;

        div {
            height: 50%;

            div {
                div {
                    div {
                        div {
                            .card-body {
                                .card-title {
                                    color: black;
                                    font-style: bold;
                                    text-decoration: underline 0.2px;
                                }

                                .card-text {
                                    color: black;
                                    font-style: italic;
                                }
                            }
                        }
                    }
                }
            }

        }

    }
}

.h1Productos {
    margin-top: 3rem;
}

#menuProductos {
    z-index: 1;

    a {
        color: $amarillo  !important;
    }

    ul {
        li {
            .dropdown-item {
                color: black !important;
            }
        }
    }
}


@media (max-width: 768px) {

    .contenedorDentroDeMain-row {
        flex-direction: column;
        align-items: center;

        section {
            width: 90vw;

            &:hover {
                transform: scale(1.1);
            }

        }
    }

    .contenedorDentroDeMainCol {
        section {
            width: 87vw;
        }

        &:hover {
            transform: scale(1.02);
        }

    }
}